<mat-card>
  <mat-card-title>
    <span *ngIf="currentScript.id; else elseBlock">
      {{ originalTitle}}
    </span>
    <ng-template #elseBlock> Select Script </ng-template>
  </mat-card-title>
  <form #form="ngForm" (submit)="saveScript(currentScript)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="currentScript.name"
          type="text"
          name="name"
          [readonly]="readOnly"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea
          matInput
          placeholder="Description"
          [(ngModel)]="currentScript.description"
          [readonly]="readOnly"
          type="text"
          name="description"
          required
        ></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Author"
          [value]="getAuthor(currentScript.author)"
          type="text"
          name="author"
          readonly
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Creation Date"
          value="{{currentScript.createdAt| date: 'short'}}"
          type="text"
          name="createdAt"
          readonly
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Last Modified By"
          [value]="getAuthor(currentScript.modifier)"
          type="text"
          name="modifier"
          readonly
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Last Modified On"
          value="{{currentScript.lastModifiedAt| date: 'short'}}"
          type="text"
          name="createdAt"
          readonly
          required
        />
      </mat-form-field>
      <section class="full-width">
        <div
          class="app-ace-editor"
          #editor
          style="width: 100%;height: 275px;"
        ></div>
      </section>
      <section>
        <mat-checkbox style="margin-right: 3%" [(ngModel)]="currentScript.editable" [disabled]="readOnlyC" name="editable">
          Editable by shared users
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="currentScript.type" name="type" [disabled]="readOnlyC">
          Private
        </mat-checkbox>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="form.invalid"
        type="submit"
        mat-raised-button
        mat-button
        color="primary"
        style="color:white"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        (click)="toExecute()"
        color="accent"
      >
        Execute
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
      >
        History
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        style="color:white"
        (click)="form.reset(); this.aceEditor.setValue(''); this.selected=false"
      >
        Cancel
      </button>
      </mat-card-actions>
  </form>
</mat-card>
