<div id="main-container">
  <div id="left-container">
    <form class="loginform" >
  <mat-card-content>
    <!--<p-dropdown class="inputfield" [options]="orders" [(ngModel)]="selectedServer" optionLabel="name"></p-dropdown>-->
    <mat-form-field class="inputfield">
      <mat-label>Server</mat-label>
      <input
        matInput
        placeholder="127.0.0.1"
        [(ngModel)]="execution.server"
        type="text"
        required
        pattern="^([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})$"
        name="text"
        #server="ngModel"
      />
      <mat-error *ngIf="server.invalid && (server.dirty || server.touched)">
        <strong>Entrer une address IPv4 valide</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inputfield" >
      <mat-label>User</mat-label>
      <input
        matInput
        placeholder="User"
        [(ngModel)]="execution.server"
        type="email"
        required
        pattern="(^[a-zA-Z0-9é]+(\.)[a-zA-Z0-9]+@(neoxam|gmail)\.com)?"
        name="email"
        #email="ngModel"
      />
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        <strong>Entrer un e-mail NeoXam valide</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inputfield" >
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="execution.password"
        type="password"
        required
        minlength="8"
        name="passwordA"
        [type]="hide ? 'password' : 'text'"
        #passwordA = "ngModel"
      />
      <button mat-icon-button matSuffix (click)="hide = !hide;" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon class="p-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordA.invalid && (passwordA.dirty || passwordA.touched)">
        <strong>Entrer un mot de passe valide</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inputfield" style="margin:0">
      <mat-label>Trigram</mat-label>
      <input
        matInput
        placeholder="ex: 22"
        [(ngModel)]="execution.port"
        type="text"
        required
        pattern="(^[0-9]{1,4})"
        name="trigram"
        #trigram="ngModel"
      />
      <mat-error *ngIf="trigram.invalid && (trigram.dirty || trigram.touched)">
        <strong>Entrer une trigramme NeoXam valide</strong>
      </mat-error>
    </mat-form-field>
    <hr>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-center">
    <button type="submit" [disabled]="(passwordA.invalid)||(email.invalid)||(trigram.invalid)" class="px-c" mat-raised-button color="accent" style="color: white">Execute</button>
  </mat-card-actions>
</form>
  </div>
  <div class="vr"></div>
  <div id="right-container">
    <ng-terminal #term></ng-terminal>
  </div>
</div>
