#left-container{
  //background-color:orange;
  width: 29%;
  margin-right: 1%;
}

#right-container{
  //background-color:black;
  width:69%;
  margin-left:1%
}

#main-container{
  display:inline-flex;
}

#terminal{
  max-width: 100%;
  width: 200px;
}

.inputfield{
  border-radius: 2px;
  width: 100%;
  margin-bottom: 5%;
}
