<form class="loginform" (submit)="addUser()">
  <mat-card-content>
    <mat-form-field class="inputfield" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="userInfo.email"
        type="name"
        required
        pattern="(^[a-zA-Z0-9é]+(\.)[a-zA-Z0-9]+@(neoxam|gmail)\.com)?"
        name="name"
        #email="ngModel"
      />
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        <strong>Entrer un e-mail NeoXam valide</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inputfield" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="userInfo.password"
        type="password"
        required
        minlength="8"
        name="passwordA"
        [type]="hide ? 'password' : 'text'"
        #passwordA = "ngModel"
      />
      <button mat-icon-button type="button" matSuffix (click)="hide = !hide;" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon class="p-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Minimum length is 8</mat-hint>
      <mat-error *ngIf="passwordA.invalid && (passwordA.dirty || passwordA.touched)">
        <strong>Entrer un mot de passe valide</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inputfield" appearance="fill">
      <mat-label>Trigram</mat-label>
      <input
        matInput
        placeholder="ex: ABA"
        [(ngModel)]="userInfo.trigramme"
        type="text"
        required
        pattern="(^[A-Z]{3})"
        name="trigram"
        #trigram="ngModel"
      />
      <mat-error *ngIf="trigram.invalid && (trigram.dirty || trigram.touched)">
        <strong>Entrer une trigramme NeoXam valide</strong>
      </mat-error>
    </mat-form-field>
    <mat-checkbox
      color="primary"
      name="isAdmin"
      [(ngModel)]="isAdmin">
      Admin?</mat-checkbox>
  </mat-card-content>
  <mat-card-actions align="end">
    <button type="submit" [disabled]="(passwordA.invalid)||(email.invalid)||(trigram.invalid)" class="px-c" mat-raised-button color="accent" style="color: white">Add</button>
    <div class="vr mx-1"></div>
    <button type="button" mat-raised-button class="cancel" color="accent" mat-dialog-close>Cancel</button>
  </mat-card-actions>
</form>

