<mat-card>
    <mat-card-header style="justify-content:space-between">
      <mat-card-title>
              <span>
  Execution history
              </span>
      </mat-card-title>
      <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal(getValue($event), 'contains')" placeholder="Search..." />
          </span>
    </mat-card-header>
    <p-table #dt [value]="Executions"
             scrollHeight="61vh"
             dataKey="script"
             [(selection)]="selectedExecution"
             (onRowSelect)="onRowSelect($event)"
             styleClass="p-datatable-executions p-datatable-sm"
             [rowHover]="true"
             [rows]="10"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[5,10,25,50]"
             [loading]="loading"
             responsiveLayout="scroll"
             [paginator]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0"
             [globalFilterFields]="['script','server','result']">

<ng-template pTemplate="header">
<tr>
 <th pSortableColumn="script">
   <div class="flex justify-content-between align-items-center">
     Script
     <p-sortIcon field="script"></p-sortIcon>
     <p-columnFilter type="text" field="script" display="menu" class="ml-auto"></p-columnFilter>
   </div>
 </th>
 <th pSortableColumn="server">
   <div class="flex justify-content-between align-items-center">
     Server
     <p-sortIcon field="server"></p-sortIcon>
     <p-columnFilter type="text" field="server" display="menu" class="ml-auto"></p-columnFilter>
   </div>
 </th>

 <th pSortableColumn="executor">
    <div class="flex justify-content-between align-items-center">
      Executor
      <p-sortIcon field="executor"></p-sortIcon>
      <p-columnFilter type="text" field="executor" display="menu" class="ml-auto"></p-columnFilter>
    </div>
  </th>

 <th pSortableColumn="date">
   <div class="flex justify-content-between align-items-center">
     Date
     <p-sortIcon field="date"></p-sortIcon>
     <p-columnFilter type="date" field="date" display="menu" class="ml-auto"></p-columnFilter>
   </div>
   </th>
 <th pSortableColumn="result">
   <div class="flex justify-content-between align-items-center">
     Result
     <p-sortIcon field="result"></p-sortIcon>
     <p-columnFilter field="result" matchMode="equals" display="menu" class="ml-auto">
       <ng-template pTemplate="filter" let-value let-filter="filterCallback">
         <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
           <ng-template let-option pTemplate="item">
             <span [class]="'execution-badge type-' + option.value">{{option.label}}</span>
           </ng-template>
         </p-dropdown>
       </ng-template>
     </p-columnFilter>
   </div>
 </th>
 <th style="width: 8rem"></th>
</tr>
</ng-template>
<ng-template pTemplate="body" let-Execution let-rowIndex="rowIndex">
<tr class="p-selectable-row">
 <td>
   <span class="p-column-title">Script</span>
   {{Execution.script.name}}
 </td>
 <td>
   <span class="p-column-title">Server</span>
   {{Execution.server.name}}
 </td>
 <td>
    <span class="p-column-title">Executor</span>
    {{Execution.executor}}
  </td>
 <td>
   <span class="p-column-title">Date</span>
   {{Execution.createdAt | date: 'short'}}
 </td>
 <td>
   <span class="p-column-title">Result</span>
   <span [class]="'execution-badge type-' + Execution.result">{{Execution.result}}</span>
 </td>
 <td style="text-align: center!important">
   <button pButton type="button" class="p-button-secondary" (click)="details(Execution)" icon="pi pi-cog"></button>
 </td>
</tr>
</ng-template>
<ng-template pTemplate="emptymessage">
<tr>
 <td colspan="8">No executions found.</td>
</tr>
</ng-template>
</p-table>

  </mat-card>
