<mat-card>
    <mat-card-header style="justify-content:space-between">
      <mat-card-title>
              <span>
                List of Servers
              </span>
      </mat-card-title>
      <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal(getValue($event), 'contains')" placeholder="Global Search" />
          </span>
    </mat-card-header>
    <p-table #dt [value]="servers"
             dataKey="server"
             [(selection)]="selectedServers"
             (onRowSelect)="onRowSelect()"
             styleClass="p-datatable-users"
             [rowHover]="true"
             [rows]="10"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[10,25,50]"
             [loading]="loading"
             responsiveLayout="scroll"
             [paginator]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0"
             [globalFilterFields]="['server','login']">
  
      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="id">
            <div class="flex justify-content-between align-items-center">
              Id
              <p-sortIcon field="id"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="name">
            <div class="flex justify-content-between align-items-center">
              name
              <p-sortIcon field="name"></p-sortIcon>
              <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="login">
            <div class="flex justify-content-between align-items-center">
              Login
              <p-sortIcon field="login"></p-sortIcon>
              <p-columnFilter type="text" field="login" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="description">
            <div class="flex justify-content-between align-items-center">
              Description
              <p-sortIcon field="description"></p-sortIcon>
              <p-columnFilter type="text" field="description" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="type">
            <div class="flex justify-content-between align-items-center">
              Type
              <p-sortIcon field="type"></p-sortIcon>
              <p-columnFilter field="type" matchMode="equals" display="menu" class="ml-auto">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'user-badge type-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem">
          <div style="text-align: center">
            <button pButton type="button"  class="p-button-secondary" icon="pi pi-bars"
                    (click)="menu.toggle($event)">
            </button>
            <p-menu #menu [popup]="true" appendTo="body" [showTransitionOptions]="'125ms'" [hideTransitionOptions]="'125ms'" [model]="tableOptions"></p-menu>
          </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Server>
        
        <tr *ngIf = "Server.type == 'Public' ">
          <td>
            <p-tableCheckbox [value]="Server" ></p-tableCheckbox>
          </td>
          <td>
            <span class="p-column-title">Id</span>
            {{Server.id}}
          </td>
          <td>
            <span class="p-column-title">Name</span>
            {{Server.name}}
          </td>
          <td>
            <span class="p-column-title">Login</span>
            {{Server.login}}
          </td>

          <td>
            <span class="p-column-title">Description</span>
            {{Server.description}}
          </td>
          <td>
            <span class="p-column-title">Type</span>
            <span [class]="'user-badge type-' + Server.type">{{Server.type}}</span>
          </td>
          
        </tr>


      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No Servers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </mat-card>

  <input hidden type="file" (change)="parseFile($event)" id="file">
  