<mat-toolbar style="background-color:#0b0b0b" class="mat-elevation-z4">
  <span>
    <button
      *ngIf="isAuthenticated$ | async"
      mat-mini-fab
      color="accent"
      (click)="isExpanded = !isExpanded"
    >
      <!--(click)="sidenav?.toggle()"-->

      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">
      <img src="assets/images/DGU(v2)_Logo_Dark_NoBG.png" alt="Logo" style="height:50px; width:50px;"/>
    </span>
    <span style="color:white" class="title">{{title}}</span>
  </span>
  <span class="spacer"></span>
  <button
    *ngIf="isAuthenticated$ | async"
    (click)="logout()"
    class="login"
    mat-mini-fab
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container
  autosize="true"
>
  <mat-sidenav
    #sidenav
    mode="side"
    disableClose="true"
    [opened]="isAuthenticated$ | async"
    class="app-sidenav"
  >
    <nav>
      <div
        *ngFor="let link of links">
      <a
        mat-button
        class="nav-link"
        *ngIf="(!link.admin)||(isAdmin() && link.admin )"
        [routerLink]="link.path"
        routerLinkActive="active-route"
      >
        <mat-icon>
          {{ link.icon }}
        </mat-icon>
        {{ getTitle(link.title) }}
      </a>
      </div>
    </nav>

  </mat-sidenav>

  <div class="container-mat">
    <router-outlet>
      <app-loader></app-loader>
    </router-outlet>
  </div>
</mat-sidenav-container>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
<p-confirmPopup></p-confirmPopup>
<p-confirmDialog key="confirmDialog"></p-confirmDialog>
