<h1 mat-dialog-title>Execute {{this.data.script.name}}</h1>
<form class="loginform" (submit)="executeScript()" >
<mat-dialog-content>
  <div id="main-container">
    <div id="left-container">
    <mat-card-content>
      <mat-form-field class="inputfield" appearance="outline">
        <mat-label>Server</mat-label>
        <mat-select [(ngModel)]="execution.server" name="server" #server="ngModel">
          <mat-option *ngFor="let server of servers" [value]="server.id" >
            {{server.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="inputfield" appearance="outline">
        <mat-label>User</mat-label>
        <input
          matInput
          placeholder="User"
          [(ngModel)]="execution.user"
          type="text"
          required
          name="user"
          #user="ngModel"
        />
        <mat-error *ngIf="user.invalid && (user.dirty || user.touched)">
          <strong>Entrer un e-mail NeoXam valide</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="inputfield" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          [(ngModel)]="execution.password"
          type="password"
          required
          minlength="5"
          name="passwordA"
          [type]="hide ? 'password' : 'text'"
          #passwordA = "ngModel"
        />
        <button mat-icon-button matSuffix (click)="hide = !hide;" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon class="p-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordA.invalid && (passwordA.dirty || passwordA.touched)">
          <strong>Entrer un mot de passe valide</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="inputfield" appearance="outline" style="margin:0">
        <mat-label>Port</mat-label>
        <input
          matInput
          placeholder="ex: 22"
          [(ngModel)]="execution.port"
          type="text"
          required
          pattern="(^[0-9]{1,4})"
          name="port"
          #port="ngModel"
        />
        <mat-error *ngIf="port.invalid && (port.dirty || port.touched)">
          <strong>Entrer une trigramme NeoXam valide</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    </div>
    <div class="vr"></div>
    <div id="right-container">
      <textarea
        matInput
        placeholder="Code"
        [(ngModel)]="console"
        type="text"
        name="code"
        readonly
        style="height:80%"
      >
        </textarea>
    </div>
  </div>
</mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" [disabled]="(passwordA.invalid)||(user.invalid)||(port.invalid)" class="px-c" mat-raised-button color="accent" style="color: white">Execute</button>
    <div class="vr mx-1"></div>
    <button type="button" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button type="button" mat-raised-button color="accent" (click)="clearTerminal()">Clear</button>
  </mat-dialog-actions>
</form>

