<mat-dialog-content>
<form class="loginform" (submit)="addScript()">
  <mat-card-content>
    <section>
      <input
        type="file"
        class="file-input"
        name="fileUpload"
        required
        #fileUpload
        (change)="onFileSelect($event)" required>
      <div class="file-upload">
        {{fileName || "No file uploaded yet."}}
        <button mat-mini-fab
                type="button"
                color="primary"
                style="color:white"
                class="upload-btn"
                (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </section>
    <mat-form-field class="inputfield" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Text..."
        [(ngModel)]="script.description"
        type="text"
        required
        name="description"
        #description="ngModel"
      ></textarea>
      <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
        <strong>La description est obligatoire!</strong>
      </mat-error>
    </mat-form-field>
    <mat-checkbox
      color="primary"
      name="status"
      [(ngModel)]="script.type"
    >
      Private</mat-checkbox>
    <mat-checkbox
      color="primary"
      name="editable"
      style="margin-left:2%"
      [(ngModel)]="script.editable"
    >
      Editable by shared users</mat-checkbox>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-center">
    <button type="submit" [disabled]="(description.invalid)" class="px-c" mat-raised-button color="accent" style="color: white">Add</button>
  </mat-card-actions>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-raised-button color="accent" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
