<mat-card>
  <mat-card-header style="justify-content:space-between">
    <mat-card-title>
            <span>
              List of Scripts
            </span>
    </mat-card-title>
    <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal(getValue($event), 'contains')" placeholder="Search..." />
        </span>
  </mat-card-header>
  <p-table #dt [value]="scripts"
           dataKey="name"
           [(selection)]="selectedScripts"
           (onRowSelect)="onRowSelect()"
           styleClass="p-datatable-users"
           [rowHover]="true"
           [rows]="10"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,25,50]"
           [loading]="loading"
           responsiveLayout="scroll"
           [paginator]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0"
           [globalFilterFields]="['name','author','type']">

    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="id">
          <div class="flex justify-content-between align-items-center">
            Id
            <p-sortIcon field="id"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-between align-items-center">
            Name
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="author">
          <div class="flex justify-content-between align-items-center">
            Author
            <p-sortIcon field="author"></p-sortIcon>
            <p-columnFilter type="text" field="author" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="createdAt">
          <div class="flex justify-content-between align-items-center">
            Creation Date
            <p-sortIcon field="createdAt"></p-sortIcon>
            <p-columnFilter type="date" field="createdAt" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="editable">
          <div class="flex justify-content-between align-items-center">
            Editable
            <p-sortIcon field="editable"></p-sortIcon>
            <p-columnFilter type="text" field="editable" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="type">
          <div class="flex justify-content-between align-items-center">
            Type
            <p-sortIcon field="type"></p-sortIcon>
            <p-columnFilter field="type" matchMode="equals" display="menu" class="ml-auto">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                  <ng-template let-option pTemplate="item">
                    <span [class]="'user-badge type-' + option.value">{{option.label}}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th style="width: 8rem">
          <div style="text-align: center">
            <button pButton type="button"  class="p-button-secondary" icon="pi pi-bars"
                    (click)="menu.toggle($event)">
            </button>
            <p-menu #menu [popup]="true" appendTo="body" [showTransitionOptions]="'125ms'" [hideTransitionOptions]="'125ms'" [model]="tableOptions"></p-menu>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Script>
      <tr [pTooltip]="Script.description" [showDelay]=250  tooltipPosition="bottom">
        <td>
          <p-tableCheckbox [value]="Script" ></p-tableCheckbox>
        </td>
        <td>
          <span class="p-column-title">Id</span>
          {{Script.id}}
        </td>
        <td>
          <span class="p-column-title">Name</span>
          {{Script.name}}
        </td>
        <td>
          <span class="p-column-title">Author</span>
          {{getAuthorTrigram(Script.author)}}
        </td>
        <td>
          <span class="p-column-title">Date</span>
          {{Script.createdAt | date: 'short'}}
        </td>
        <td>
          <span class="p-column-title">Editable</span>
          <div class="w-100 my-0 p-text-center">
            <i class="pi" [ngClass]="{'true-icon pi-check-circle': getEditable(Script.editable), 'false-icon pi-times-circle': !getEditable(Script.editable)}"></i>
          </div>
        </td>
        <td>
          <span class="p-column-title">Type</span>
          <span [class]="'user-badge type-' + Script.type">{{Script.type}}</span>
        </td>
        <td style="text-align: center">
          <button pButton type="button" dropdownToggle  class="p-button-secondary" icon="pi pi-cog"
                  (click)="menu.toggle($event)">
          </button>
          <p-menu #menu [popup]="true" appendTo="body" [showTransitionOptions]="'125ms'" [hideTransitionOptions]="'125ms'" [model]="getItems(Script)"></p-menu>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No scripts found.</td>
      </tr>
    </ng-template>
  </p-table>
</mat-card>
