.scripts-container {
  display: flex;
  justify-content: space-around;

  .scripts-list {
    width: 45%;
    height:calc(100vh - 95px);
  }

  .script-details {
    width: 53%;
    height:calc(100vh - 95px) !important;
  }
}
