<div class="home-container">
  <div class="home-left">
    <mat-card style="padding-bottom: 1%">
      <mat-card-header>
        <mat-card-title color="primary">
          <span >
            Profile
          </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field class="inputfield" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              [(ngModel)]="userInfo.email"
              type="email"
              required
              pattern="(^[a-zA-Z0-9é]+(\.)[a-zA-Z0-9]+@(neoxam|gmail)\.com)?"
              name="email"
              #email="ngModel"
            />
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
              <strong>Entrer un e-mail NeoXam valide</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="inputfield" appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              [(ngModel)]="userInfo.password"
              type="password"
              required
              minlength="8"
              name="passwordA"
              [type]="hide ? 'password' : 'text'"
              #passwordA = "ngModel"
            />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon class="p-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Minimum length is 8</mat-hint>
            <mat-error *ngIf="passwordA.invalid && (passwordA.dirty || passwordA.touched)">
              <strong>Entrer un mot de passe valide</strong>
            </mat-error>
          </mat-form-field>
          <div class="row">
            <mat-form-field class="col-xl-6" appearance="outline">
              <mat-label>Trigram</mat-label>
              <input
                matInput
                [(ngModel)]="userInfo.trigramme"
                type="text"
                name="trigram"
                disabled
              />
            </mat-form-field>
            <mat-form-field class="col-xl-6" appearance="outline">
              <mat-label>Role</mat-label>
              <input
                matInput
                [(ngModel)]="userInfo.roles"
                type="text"
                name ="roles"
                disabled
              />
            </mat-form-field>
          </div>
          <mat-card-actions class="p-0 d-flex justify-content-center">
            <button mat-raised-button color="accent" type="submit" >Update Profile</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Notifications
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            *ngFor="let notification of notifications"
            >
            <h4 matLine>{{ notification.title | titlecase }}</h4>
            <p style="font-size: small" matLine>
              {{ notification.description }}
            </p>
            <button
              mat-icon-button
              color="primary"
              (click)="deleteNotification(notification.id); $event.stopImmediatePropagation()">
              <mat-icon class="p-0" >check</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="home-right">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span>
            Stats
          </span>
        </mat-card-title>
      </mat-card-header>
      <hr>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span>
            Execution History
          </span>
        </mat-card-title>
      </mat-card-header>
      <hr>
    </mat-card>
  </div>
</div>
