<div class="home-container">
  <div class="home">
    <mat-card style="display:inline-block; margin-right:10px; width:32%">
      <mat-card-header>
        <mat-card-title>
          <span>Errors</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p-chart height="20vh" type="line" [data]="data" [options]="options"></p-chart>
      </mat-card-content>
    </mat-card>
    <mat-card style="display:inline-block; margin-right:10px; width:32%">
      <mat-card-header>
        <mat-card-title>
          <span>Executions</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p-chart height="20vh" type="line" [data]="data1" [options]="options1"></p-chart>
      </mat-card-content>
    </mat-card>
    <mat-card style="display:inline-block; width:max(26vw , 34%)">
      <mat-card-header>
        <mat-card-title>
          <span>Servers</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p-chart height="20vh" type="pie" [data]="data2" [options]="pieOption"></p-chart>
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-top:0">
      <mat-card-header style="justify-content:space-between">
        <mat-card-title>
            <span>
              Execution History
            </span>
        </mat-card-title>
        <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal(getValue($event), 'contains')" placeholder="Search..." />
        </span>
      </mat-card-header>
      <p-table #dt [value]="Executions"
               dataKey="script"
               [(selection)]="selectedExecution"
               (onRowSelect)="onRowSelect($event)"
               scrollHeight="42.5vh"
               styleClass="p-datatable-executions p-datatable-sm"
               [rowHover]="true"
               [rows]="5"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[5,10,25,50]"
               [loading]="loading"
               responsiveLayout="scroll"
               [paginator]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [filterDelay]="0"
               [globalFilterFields]="['script.name','server.name','result']">

        <ng-template pTemplate="header">
          <tr>
            <th>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="script.name">
              <div class="flex justify-content-between align-items-center">
                Script
                <p-sortIcon field="script.name"></p-sortIcon>
                <p-columnFilter type="text" field="script.name" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="server.name">
              <div class="flex justify-content-between align-items-center">
                Server
                <p-sortIcon field="server.name"></p-sortIcon>
                <p-columnFilter type="text" field="server.name" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="createdAt">
              <div class="flex justify-content-between align-items-center">
                Date
                <p-sortIcon field="createdAt"></p-sortIcon>
                <p-columnFilter type="createdAt" field="date" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="result">
              <div class="flex justify-content-between align-items-center">
                Result
                <p-sortIcon field="result"></p-sortIcon>
                <p-columnFilter field="result" matchMode="equals" display="menu" class="ml-auto">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                      <ng-template let-option pTemplate="item">
                        <span [class]="'execution-badge type-' + option.value">{{option.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>
            </th>
            <th style="width: 8rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Execution let-rowIndex="rowIndex">
          <tr [pSelectableRow]="Execution" [pSelectableRowIndex]="rowIndex" class="p-selectable-row">
            <td>
              <p-tableCheckbox [value]="Execution" ></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">Script</span>
              {{Execution.script.name}}
            </td>
            <td>
              <span class="p-column-title">Server</span>
              {{Execution.server.name}}
            </td>
            <td>
              <span class="p-column-title">Date</span>
              {{Execution.createdAt | date: 'short'}}
            </td>
            <td>
              <span class="p-column-title">Result</span>
              <span [class]="'execution-badge status-' + Execution.result">{{Execution.result}}</span>
            </td>
            <td style="text-align: center">
              <button pButton type="button" class="p-button-secondary" (click)="reExecute(Execution)" icon="pi pi-cog"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No executions found.</td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card>
  </div>
</div>
